page-home {
  img.thumbnails {
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  ion-card.card {
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
  }

  .categories {
    color: deepskyblue;
    display: inline-block;
    list-style-type: none;
    float: left;
    padding-left: 0;
    padding-right: 15px;
  }

  .book-title {
    text-align: center;
  }

  .book-title:hover {
    color: #488aff;
  }

  ion-card-title.book-title {
  }
}
