<ion-header>
  <ion-navbar>
    <span class="page-size-text">Page Size: {{page_size}}</span>
    <span class="page-idx-text">Page Index: {{page_idx}}</span>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button class="prev-button" color="primary" ion-button>Previous</button>
  <button class="next-button" color="primary" ion-button>Next</button>
  <ion-list *ngFor="let item of items">
    <ion-item>
      <ion-card class="card">
        <ion-card-title class="book-title" color="primary">{{item.title}}</ion-card-title>
        <ion-card-header>
          <img class="thumbnails" src="{{item.img}}"/>
        </ion-card-header>
        <ion-card-content>
          <ul class="categories" *ngFor="let cat of item.categories">
            <li>{{cat}}</li>
          </ul>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
