page-home {
  img.thumbnails {
    height: 400px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  ion-card.card {
    padding: 10px;
    width: 600px;
    margin: auto;
  }

  .categories {
    display: inline-block;
    list-style-type: none;
  }

  .book-title {
    text-align: center;
  }
}
